@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
}

.active {
  background-color: black;
  color: white;
}

button {
  background-color: white;
  color: black;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: 1px solid rgb(0 0 0 / 0.1);
  font-size: 14px;
  border-radius: 6px;
  margin: 0.5rem;
  margin-top: 2.5rem;
  padding: 0.5rem;
}
